a {
    color: $color-black;
}

input {
    border: 1px solid $color-light-grey;
    outline: none;
}

button {
    outline: none;
    cursor: pointer;
}

body {
    color: $color-black;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}


.text-bold {
    font-weight: bold;
}
