.form {
    border: 1px solid $color-light-grey;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;

    @include max-screen($tablet-max-width) {
        width: 80%;
    }

    @include max-screen($phone-max-width) {
        width: 90%;
    }
}

.form__field {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 10px;
}

.form__group {
    margin-bottom: 10px;

    a {
        color: $color-green;
    }
}

.form__action {
    padding: 10px 15px;
    width: 100%;
    color: $color-white;
    background-color: $color-green;
    margin-bottom: 10px;
}

.form__title {
    font-size: 1.5rem;
}


.label-x-field {
    border: 1px solid $color-light-grey;
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 10px;
    display: flex;

    input {
        border: none;
        flex-grow: 1;
        font-weight: bold;
    }

    @include max-screen($phone-max-width) {
        flex-direction: column;
    }
}
