.header {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: $color-green;
    position: relative;

    a {
        color: $color-white;
    }

    @include max-screen($phone-max-width) {
        flex-direction: column;
    }
}

.nav {
    @include max-screen($phone-max-width) {
        display: none;
    }
}

.nav--show {
    display: block;
}

.nav__list {
    display: flex;
    list-style: none;

    li {
        margin-left: 20px;
    }

    @include max-screen($phone-max-width) {
        flex-direction: column;

        li {
            margin-left: 0;
        }
    }
}

.header__burger {
    width: 20px;
    position: absolute;
    top: 18px;
    right: 15px;
    cursor: pointer;
    display: none;

    span {
        height: 2px;
        background-color: $color-white;
        margin-bottom: 4px;
        display: block;
    }

    @include max-screen($phone-max-width) {
        display: block;
    }
}
