.header {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: $color-green;

    a {
        color: $color-white;
    }

    @include max-screen($phone-max-width) {
        flex-direction: column;
        text-align: center;
    }
}

.nav__list {
    display: flex;
    list-style: none;

    li {
        margin-left: 20px;
    }

    @include max-screen($phone-max-width) {
        flex-direction: column;

        li {
            margin-left: 0;
        }
    }
}
