.links {
    display: flex;
    border-top: 1px solid $color-light-grey;

    @include max-screen($phone-max-width) {
        flex-direction: column;
    }
}

.links__list {
    display: flex;
    flex-direction: column;
    background-color: $color-dark-white;
    width: 40%;
    height: 460px;
    overflow: hidden;
    overflow-y: scroll;

    @include max-screen($phone-max-width) {
        width: 100%;
        border-bottom: 1px solid $color-light-grey;
    }
}

.links__item {
    padding: 10px;
    cursor: pointer;
    position: relative;

    &+.links__item {
        border-top: 1px solid $color-light-grey;
    }
}

.links__item--active {
    background-color: $color-white;
}

.links__item-long {
    color: $color-light-black;
    word-break: break-all;
}

.links__item-short {
    font-size: 0.75rem;
    color: $color-light-green;
}

.links__item-date {
    font-size: 0.75rem;
}

.links__item-total {
    font-size: 0.75rem;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.links__details {
    padding: 20px 30px;
    width: 60%;

    @include max-screen($phone-max-width) {
        width: 100%;
    }
}

.links__details-date {
    font-size: 0.75rem;
    margin-bottom: 10px;
}

.links__details-title {
    word-break: break-all;
    margin-bottom: 10px;
    font-weight: bold;
}

.links__details-long {
    word-break: break-all;
    margin-bottom: 10px;
}

.links__details-short {
    font-size: 0.75rem;
    margin-bottom: 10px;
}


.details-short__url {
    margin-bottom: 10px;

    a {
        color: $color-light-green;
    }
}

.details-short__actions {

    button {
        padding: 3px 8px;
        color: $color-white;
        background-color: $color-green;
    }
}
