$color-black: #273849;
$color-light-black: #304455;
$color-white: #fff;
$color-dark-white: #f1f1f1;
$color-light-grey: #dadada;
$color-green: #42b983;
$color-light-green: #35bb35;
$color-red: #bb3535;


$below-phone-min-width: 319px;
$phone-min-width: 320px;
$phone-max-width: 767px;
$tablet-min-width: 768px;
$tablet-max-width: 1023px;
$desktop-min-width: 1024px;
$desktop-max-width: 1440px;
